{% extends 'blog/base.html' %}

{% block title %}
<h10>  <small> por <b>{{ post.author.first_name }} {{ post.author.last_name }} 
</b>{{ post.post_date }}</small>

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}     
<a href="{% url 'edit_post' post.pk %}">    <small>Editar</small></a> <a href="{% url 'delete_post' post.pk %}">    <small>Borrar</small></a> </h10>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<center/>

<h2> {{ post.title }} </h2>

<br/>
<img src="{{ post.imagen.url }}"width=400">
<br/>
<br/>

<div class="card">
  
  <div class="card-body">
    {{ post.body|safe }}
  </div>
</div>





<br/><br/><br/>

<a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
<br/><br/><br/>


Post hecho por
</div>
<footer class="footer mt-auto py-3 bg-light">

  <img src="{{ post.author.profile.imagen.url }}"  class="rounded" width="120" height="120">   
<!-- <img src="{{ post.author.profile.imagen.url }}" width="100" height="100"> -->
<p>
<b>
  <a href="{% url 'profile-details' post.author.profile.id %}">  <br/>{{ post.author.profile.user.first_name }} {{ post.author.profile.user.last_name }}</a>
</b>
</p>
{{ post.author.profile.bio }}



 <div class="container">
   <span class="text-muted"></span>
 </div>
<div class="d-flex p-2">


</div>


{% endblock %}