{% extends 'blog/base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<center/>

<h2> {{ post.title }} </h2>
<h10> por <b>{{ post.author.first_name }} {{ post.author.last_name }} 
</b>{{ post.post_date }}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}     
<a href="{% url 'edit_post' post.pk %}">    <small>Editar</small></a> <a href="{% url 'delete_post' post.pk %}">    <small>Borrar</small></a> </h10>
{% endif %}
{% endif %}
<br/>
<img src="{{ post.imagen.url }}"width=150">
<br/>
{{ post.body|safe }}


<br/><br/><br/>

<a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
<br/><br/><br/>


Post hecho por
<br/>
<img src="{{ post.author.profile.imagen.url }}"width=150">
<b>
    <a href="{% url 'profile-details' post.author.profile.id %}"> {{ post.author.profile.user.first_name }}
        {{ post.author.profile.user.last_name }}</a>
</b>

{{ post.author.profile.bio }}



{% endblock %}