{% extends 'blog/base.html' %}

{% block content %}

 <ul>
 {% for post in object_list %}
    
    <li><a href ="{% url 'article-detail' post.pk %}"> {{post.title}} </a> from <b>{{post.author.first_name}} {{post.author.last_name}}</b> - 
      {% if user.is_authenticated %} 
      <a href="{% url 'edit_post' post.pk %}">Editar</a> 
      <a href="{% url 'delete_post' post.pk %}">Borrar</a><br/>
      
      {% endif %}
      {{ post.resume|slice:":100"|safe}}
      <br/>
      <br/>
      
    </li>
   
 {% endfor %}
 </ul>


{% endblock %}