

    {% extends 'blog/base.html' %}
    {% block title %}
    
    Mis posts
    
    {% endblock %}
    {% block content %}
    <ul>
        {% for post in object_list %}
        {% if post.author == user %}
        <li>
          <div class="card" style="width: 18rem;">
           <img src="{{ post.imagen.url }}" class="card-img-top" width="150" height="150">
           <div class="card-body">
             <p class="card-text"><a href ="{% url 'article-detail' post.pk %}"> {{post.title}} </a> from <b>{{post.author.first_name}} {{post.author.last_name}}</b></p>
           </div>
         </li>
           </li>
          {% endif %}
        {% endfor %}
    </ul>
    <nav>
      {% if is_paginated %}
          <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li><button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></button></li>
              {% endif %}
    
              {% for i in paginator.page_range %}
                  <li {% if page_obj.number == i %} class="active" {% endif %}>
                      <li><button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark"><a href="?page={{i}}">{{ i }}</a></button></li>
                  </li>
              {% endfor %}
    
              {% if page_obj.has_next %}
                  <li><button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></button></li>
              {% endif %}
          </ul>
      {% endif %}
    </nav>
    {% endblock %}