{% extends 'blog/base.html' %}
{% block title %}

 Edicion de perfil 

    



{% endblock %}


{% block content %}

{% if user.is_authenticated %}

{% if user.id == profile.user.id %}
<b>{{ profile.user.first_name }}
    {{ profile.user.last_name }}</b>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    
    <img src="{{ profile.imagen.url }}"width=150">
    Foto de Perfil actual    
    <br/>
    <br/>
    <button class="btn btn-success"> Editar </button>

{% else %}

<h3> Acceso denegado </h3>



{% endif %}
{% endif %}
{% endblock %}