{% extends 'blog/base.html' %}
{% block title %}


{% endblock %}


{% block content %}

{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h2> Edicion de perfil de 
<b>{{ profile.user.first_name }}
{{ profile.user.last_name }}</b>
</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    
    <img src="{{ profile.imagen.url }}"width=150">
    Foto de Perfil actual    
    <br/>
    <br/>
    <button class="btn btn-success"> Editar </button>
{% else %}
<h2>No bussiness in here bro</h2>

{% endif %}
{% endif %}
{% endblock %}